*{
    box-sizing: border-box;
}

html{
    font-family: 'VT323', monospace;
    min-height: 100%;
}

body{
    min-height: 100vh;
    position: relative;
    background: url(../images/bg-railway.jpg) top center / cover black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

header, section{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

h1, h2, h3 {
    margin: 0;
}

h3{
    text-align: left;
    text-shadow: 3px 0px black, -3px 0 black, 0px 3px black, 0px -3px black;
    line-height: 1em;
    position: relative;
    bottom: 8px;
    right: 5px;
    margin-bottom: -8px;
}

.panel{
    padding: 5px;
    background: linear-gradient(90deg, #222222, #555555, #222222);
    border: 3px outset #555555;
    border-radius: 1px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th{
    border-bottom: 1px solid gray;
}
    
input{
    color: white;
    display: block;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px dashed white;
}


form {
    align-self: flex-start;
}
label {
    line-height: 1em;
    position: relative;
}
.error {
    width: 200px;
    color: red;
    position: absolute;
    top: .8em;
    left: 0;
}
button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
}

.chocobo{
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: -1;
    height: 25vh;
}

/*  Touch devices, larger touch element size */
@media only screen and (pointer: coarse){
    button {
        padding: 10px 0;
    }
    input {
        padding-top: 20px;
        margin-top: -10px;
        margin-bottom: 5px;
    }
}

/* Small screens: fit table content */
@media only screen and (max-width: 480px){
    .panel table, .panel label {
        font-size: 14px;
        line-height: 1em;
    } 
    tr {
        margin-bottom: 10px;
    }
}

/* Correctly positioned chocobo */

@media only screen and (min-aspect-ratio: 11/10){
    .chocobo {
        right: 25%
    }
}

@media only screen and (min-aspect-ratio: 8/5){
    .chocobo {
        right: 30%
    }
}

@media only screen and (min-aspect-ratio: 9/5){
    .chocobo {
        right: 36%
    }
}